.navbar {
  font-weight: bold;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 56px;
  padding-left: 1.5rem;
  letter-spacing: 0.25em;
  background-color: #ffffff;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.navbar-brand a {
  display: flex;
  align-items: center;
}

.navbar-favicon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.navbar-text {
  color: #3c3b3b;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-links {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
  display: flex;
  align-items: center;
}


.navbar-links ul {
  list-style: none;
  width: 400px;
  display: flex;
}

.navbar-links ul li {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  line-height: 1;
  margin-left: 1rem;
  padding-left: 1rem;
}

.navbar-links ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.navbar a {
  color: #646464;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 0.7rem;
  height: 100%;
  /* margin-right: 0; */
}